//Colors - Primary

$primary: hsl(233, 26%, 24%);
$secondary: hsl(136, 65%, 51%);
$tertiary: hsl(192, 70, 51%);

//Color - Neutral
$white: hsl(0, 0%, 100%);
$light: hsl(220, 16%, 96%);
$veryLight: hsl(0, 0%, 98%);
$lightPrimary: hsl(233, 8%, 62%);
