@import '../../globals/variables';
@import '../../globals/mixins';
.search {
  &-container {
    width: 100%;
    height: 3.75em;
    background-color: $tertiary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    @include breakpoint-down(large) {
      height: 4.25em;
    }
  }

  &-form {
    width: 100%;
    max-width: 75em;
    margin: 0 auto;
    @include breakpoint-down(large) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26.5em;
    }
  }

  &-input {
    margin-left: 0.425em;
    padding: 0.425em;
    width: 16.75em;
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    outline: none;
    border: none;
    @include breakpoint-down(large) {
      margin-left: 0.125;
    }
  }

  &-button {
    border: none;
    outline: none;
    background: $secondary;
    padding: 0.425em;
    border-left: 0.0625em solid rgba(0, 0, 0, 0.3);
    border-top-right-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
    color: $white;
    font-weight: 500;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover {
      color: #3f51b5;
      background-color: #fff;
      border: 0.0625em solid #3f51b5;
      @include breakpoint-down(large) {
        font-weight: 300;
      }
    }
  }
}

.logo {
  color: $light;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  @include breakpoint-down(large) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.25em;
  }
}
