@import '../../globals/variables';
@import '../../globals/mixins';
.filters {
  max-width: 75em;
  margin: 1.625em auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: $secondary;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $light !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: $light !important;
    border-top: none;
    padding-left: 0.3125em !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 0.3125em;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $light !important;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75em;
  margin: 1.25em auto;
  @include breakpoint-down(large) {
    margin-top: -1.375em;
  }
}

.game {
  width: 17.5em;
  margin: 0.625em;
  height: 20.625em;
  overflow: hidden;
  border-radius: 0.3125em;
  background-color: #202020;
  box-shadow: 0.25em 0.1875em 0.5em 0em $tertiary;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0.25em 0.1875em 0.6875em 0.375em $lightPrimary;
    transform: translateY(-0.1875em);
  }

  &-thumb-container {
    background-color: $primary;
    position: relative;
    height: 10.75em;
    color: $light;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 10.75em;
  }

  &-description {
    padding: 1.25em;

    height: 9.8125em;
  }

  &-name {
    color: $light;
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 1.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
    flex-direction: row;
  }
  &-platform {
    width: 1.375em;
    margin-right: 0.625em;
  }
}
