@import '../../globals/variables';
.details-wrapper {
  max-width: 56.25em;
  margin: 1.25em auto;
  position: relative;
}

.details {
  ::ng-deep mwl-gauge {
    width: 9.375em;
    height: 9.375em;
    display: block;
    padding: 0.625em;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: $light;
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .game-gauge {
    position: absolute;
    top: 3.125em;
    right: 0;

    &-label {
      font-size: 1.25em;
      color: $light;
      position: relative;
      bottom: 3.75em;
    }
  }
}

.game {
  &-banner {
    height: 27.625em;
    overflow: hidden;

    &-img {
      width: 100%;
      filter: blur(0.3125em);
    }
  }

  &-content {
    text-align: center;
    position: relative;
    top: -12.5em;
  }

  &-header {
    &-title {
      font-size: 4.375em;
      color: $white;
      font-weight: 700;
      line-height: 4.375em;
      white-space: nowrap;
    }

    &-release-date {
      color: $light;
      font-weight: 700;
    }

    &-genres {
      color: $light;
      font-weight: 700;
    }
  }
}
