@import '../../globals/variables';
@import '../../globals/mixins';
.not_found_img {
  display: flex;
  justify-content: center;
  .donkeyKong {
    position: relative;
    margin-top: -140px;
    width: 100%;
    height: 125vh;
    clip-path: inset(18% 15% 20% 16%);
    @include breakpoint-down(large) {
      margin-top: 5px;
      height: auto;
    }
  }
}

.home_link {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint-down(large) {
    margin-top: 30px;
  }

  a {
    font-weight: 700;
    font-size: 30px;
    color: $secondary;
  }
}
