@import '../../globals/variables';

.game {
  &-tabs {
    background: $primary;
    color: #fff;
    text-align: left;
    padding: 0.625em;

    &-par {
      padding: 1.25em 1.25em 0 1.25em;
      margin-bottom: 0;
    }

    &-link {
      color: $light;
    }

    &-votes {
      margin-left: 1.25em;
      display: flex;

      &-count {
        margin-left: 0.3125em;
      }
    }

    ::ng-deep .mat-tab-labels {
      justify-content: center;
      background-color: $tertiary;
    }
  }

  &-votes {
    &-up {
      color: #5ee432;
    }
    &-down {
      color: #ef4655;
    }

    &-count {
      margin-left: 0.3125em;
      margin-right: 0.625em;
      vertical-align: super;
    }
  }

  &-description {
    padding: 1.25em;
  }

  &-screenshot {
    margin-top: 0.3125em;
    width: calc(50% - 0.625em);

    &:nth-child(even) {
      margin-left: 0.625em;
    }
  }

  &-trailer {
    width: 100%;
    margin: 1.25em 0;
  }
}
